html{
    background-color: rgba(255, 225, 174, 0.567);
    font-family:sans-serif;
}
nav{
        text-align: right;
        padding: 20px;
        background-color: rgb(240, 198, 134);
        border-radius:10px;
        padding: 30px;
        }
        a{
            padding: 10px;
            background-color: rgb(4, 4, 4);
            color: bisque;
            border-radius: 10px;
            font-weight: 600;
        }
        h1{
            margin-left: 30px;
            font-size: 70px;
        }
.m-box{
    margin-top: 20px;
}    