html{
    background-color: rgba(255, 225, 174, 0.567);
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

nav{
        text-align: right;
        background-color: rgba(240, 198, 134, 0.689);
        border-radius:10px;
        padding: 45px;
        position:fixed;
        width:94%;
    }
        a{
            padding: 12px;
            margin:10px;
            background-color: rgb(4, 4, 4);
            color: bisque;
            border-radius: 10px;
            font-weight: 600;
            text-decoration: none;
            font-size:25px;
        }
        a:hover{
            background-color: rgb(70, 66, 66);
            transition: 0.2 ease-in-out;
        }
        h1{
            margin: 200px 0 0 30px ;
            font-size: 80px;
        }
        .home{
            display: flex;
            margin: 20px;
        }
        img{
            width: 440px;
            border-radius: 50%;
            margin:150px 45px 45px 200px;
        }
        h2,h3{
            text-align: center;
            font-size: 40px;
        }
        .contact{
            border-radius: 15px;
            padding:15px;
            background-color: rgba(126, 97, 25, 0.225);
            margin: 0 30% 0 30%;
            box-shadow: 0 0 30px rgba(1, 1, 1, 0.661);
            font-weight: 600;
            font-size: 20px;
        }
        .about{
            width: 80%;
            padding: 70px;
            margin:0 auto;
            border-radius: 15px;
            background-color: rgba(126, 97, 25, 0.225);
            box-shadow: 0 0 30px black;
            font-size: 20px;
        }
        #message1{
            background-color: rgba(0, 0, 0, 0.529);
            border-radius: 5px;
            font-size: 20px;
            margin: 0 0 0 35%;
        }
        p{
            font-size: larger;
            font-weight: 500;
        }

    /* media quiry */

    @media screen and (max-width:900px){
        .home{
            flex-direction: column;

            align-items: center;
            justify-content: center;
        }
    }

    .skill{
        width: 80%;
        margin: 0 auto;
       display: flex;
       flex-direction: column;
       gap: 20px;
    }
    .skills{
        display: flex;
        justify-content: space-between;
        height: 60px;
        padding: 10px;
        align-items: center;
        
    }
    .sk{
        font-size: 32px;
        text-transform: uppercase;
        
    }

    .skill1{
        background-color: rgb(172, 111, 111);
        width: 94.6%;
    }
    .skill2{
        background-color: rgb(109, 109, 195);
        width: 89%;
    }
   .skill3{
      background-color: rgb(12, 10, 140);
      width: 85%;
   }
   .skill4{
    background-color: rgb(17, 58, 56);
    width: 80%;
   } 

   .section-projects{
    margin-bottom: 64px;
}

    .projects{
        width: 80%;
        margin: 0 auto;
        display: flex;
        gap: 50px;
        justify-content: space-between;

    }
    .project-header{
        margin-bottom: 40px;
        font-size: 20px;
        text-align: center;
    }

    .project{
        /* border: 1px solid black; */
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        align-items: center;
    }
    .btn{
        cursor: pointer;
        display: inline-block;
        border: none;
        padding: 16px 32px;
        background-color: green;
    }

    .pr-header{
        font-size: 22px;
    }
    








        
    
